:global(p) {
  color: blue
}

p {
  color: red;
}

p{
  color: red
}

* {
  color: blue;
}

[href="woot"] {
  color: red;
}

p a span {
  color: red;
}

p :global(span) {
  background: blue
}

p a[title="'w ' '  t'"] {
  margin: auto
}

p :global(span:not(.test)) {
  color: green
}

p, h1 {
  color: blue;
  animation-name: hahaha;
  animation-delay: 100ms;
}

@keyframes hahaha {
  from { top: 0 }
  to { top: 100 }
}

@media (min-width: 500px) {
  .test {
    color: red;
  }
}
